body{
  margin: 0px;
  text-align: center;
  font-family: serif;
}
hr {
  border-Style: none;
  border-color: grey;
  border-top-style: dotted;
  margin-top: 50px;
  margin-bottom: 50px;
  border-width: 5px;
  width: 4%;
}
p {
  color: #40514E;
  font-family: 'Merriweather', serif;
  font-weight: normal;
}
h1{
  margin: 100px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #334257;
  font-size: 600%;
  line-height: 2;
}
h2{
  color: #334257;
  font-family: 'Merriweather', serif;
  font-size: 35px;
  font-weight: normal;
}
h3{
    font-family: 'Merriweather', serif;
    color: #EAF6F6;
}

.Top {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
  padding-bottom: 400px;
}
.middle-container{
  background-color: #EAF6F6;
  position:relative;
}
.skills{
}
.bottom-container{
  background-color: #66BFBF;
  padding-bottom: 20px;
}
.contact-me{
  background-color: #66BFBF;
  padding-top: 20px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.bottom-Cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.Myface{
  position:fixed;
  padding: 50px;
  left: 0px;
  top: 0;
}
.Contact{
  position: relative;
}
.Python{
  width: 18%;
  float: left;
  margin-right: 30px;
}
.C{
  width: 13%;
  float: right;
  margin-left: 30px;
}
.HTML{
  width: 18%;
  float: left;
  margin-right: 30px;
}
.CSS{
  width: 13%;
  float: right;
  margin-left: 30px;
}
.Linkdin{
  width: 3%;
}
.Facebook{
  width: 2%;
  position: center;
}
.BUTTON_FHV {
   background: #1952A1;
   background-image: -webkit-linear-gradient(top, #1952A1, #EAF6F6);
   background-image: -moz-linear-gradient(top, #1952A1, #EAF6F6);
   background-image: -ms-linear-gradient(top, #1952A1, #EAF6F6);
   background-image: -o-linear-gradient(top, #1952A1, #EAF6F6);
   background-image: -webkit-gradient(to bottom, #1952A1, #EAF6F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 15px;
   font-weight: 100;
   padding: 15px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #000000 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_FHV:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
