body{
  margin: 0px;
  font-family: serif;
}
hr {
  border-Style: none;
  border-color: grey;
  border-top-style: dotted;
  margin-top: 50px;
  margin-bottom: 50px;
  border-width: 5px;
  width: 4%;
}
p {
  color: #8f8f8f;
  font-family: 'Merriweather', serif;
  font-weight: normal;
  line-height: 2;
  text-align: center;
}
h1{
  font-family: 'Sacramento', cursive;
  color: #334257;
  text-align: center;
  font-weight: normal;
}
h2{
  color: #334257;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #334257;
    text-align: center;
}
#features{
  padding: 5% 20% 10% 20%;
}
.skill-box{
  text-align: center;
  padding: 5%;
}
#scrollspyHeading1{
  padding-top: 10%;
  padding-bottom: 10%;
}
#experience {
  text-align: center;
}
#get-in-touch{
  color: #FDEFEF;
}
#happy-message{
  color: #FDEFEF;
}
#Smileface{
  padding-top: 5%;
}
.Icon{
  color: #66BFBF;
  margin-bottom: 1rem;
}
.Icon:hover{
  color: #334257;
}
.navbar-brand{
  font-family: "Ubuntu", serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar-nav{
  font-family: "Ubuntu", serif;
}
.Navegador{
  padding-left: 3%;
}

.Menucai{
  text-align: center;
}
.First{
  padding-left: 10px;
  padding-bottom: 5px;
}
.nav-item{
  padding: 0 18px 0 0;
  font-family: 'Montserrat', sans-serif;
}
.navbar{
  padding: auto;
}

.Myface2:hover{
  background: transparent url("../images/Pisca2.png") no-repeat 0 0;
}
.Top {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 10%;
  padding-bottom: 20%;
}
.middle-container{
  position:relative;
  text-align: center;
}
.middle-container2{
  background-color: #EAF6F6;
  position:relative;
  text-align: center;
}
@media (min-width: 1028px){
.Title{
  color: #334257;
  text-align: center;
  margin: 3% auto 0 auto;
  line-height: 2;
  font-size: 600%;
  width: 50%;
}
}
@media (max-width: 1028px) {
  .Title{
    color: #334257;
    text-align: center;
    margin: 3% auto 0 auto;
    line-height: 2;
    font-size: 300%;
    width: 70%;
}
}
.links1{
  margin-left: auto;
  padding-right: auto;
}
@media (min-width: 1028px){
.student{
  margin: 2em auto 0 auto;
  line-height: 2;
  font-size: 150%;
  width: 50%;
}
}
@media (max-width: 1028px){
  .student{
    margin: 2em auto 0 auto;
    line-height: 2;
    font-size: 120%;
    width: 70%;
  }
}
@media (min-width: 1028px){
.top-cloud{
  position: absolute;
  right: 3%;
  top: 7%;
  width: 20%;
}
.bottom-Cloud {
  position: absolute;
  left: 5%;
  bottom: 20%;
  width: 20%;
}
}
@media (max-width: 1028px) {
  .top-cloud{
    position: absolute;
    right: 3%;
    top: 5%;
    width: 30%;
  }
  .bottom-Cloud {
    position: absolute;
    left: 5%;
    bottom: 7%;
    width: 30%;
  }
}
@media (min-width: 1028px){
.Face{
  width: 6%;
  position: relative;
  display: block;
  padding: 5%;
  margin-left: auto;
  margin-right: auto;
}
}
@media (max-width: 1028px) {
  .Face{
    width: 15%;
    position: relative;
    display: block;
    padding: 10%;
    margin-left: auto;
    margin-right: auto;
  }
}
.Ricardo-paz{
  margin: 290px auto 0 auto;
  width: 7%;
}
.Intro{
  width: 50%;
  margin: auto;
  padding-bottom: 7%;
  padding-top: 7%;
}
@media (min-width: 1028px) {
.Computador{
  position: relative;
  width: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
}
}
@media (max-width: 1028px) {
.Computador{
  position: relative;
  width: 27%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
}
}
.Contact{
  position: relative;
  display: block;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}
.bottom-container{
  background-color: #66BFBF;
  padding-bottom: 20px;
  padding-top: 20px;
}
.contact-me{
  background-color: #66BFBF;
  padding-top: 40px;
  text-align: center;
}
.skill-row{
  width: 50%;
  margin: 9em auto 9em auto;
  text-align: left;
  line-height: 4;

}
.Contact{
  position: relative;
}
.Python{
  width: 10%;
  float: left;
  margin-right: 1em;
}
.C{
  width: 10%;
  float: right;
  margin-left: 1em;
}
.HTML{
  position: relative;
  width: 11%;
  float: left;
  margin-right: 1em;
}
.CSS{
  width: 9%;
  float: right;
  margin-left: auto;
  margin-bottom: 1em;
  margin-top: auto;
  margin-right: auto;
}
.Linkdin{
  position: absolute;
  width: 70px;
  left: 65%;
}
.Facebook{
  position: absolute;
  width: 50px;
  left: 300px;
  margin: auto;
}
.xp{
  margin-top: 5%;
  font-size: 180%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.experience-img{
  width: 15%;
  margin-bottom: 7%;
  border-radius: 100%;
}
.Company{
  margin: 5%;
  font-size: 110%;
}
.carousel-item{
  padding: 10% 20%;
}
.BUTTON_FHV {
   background: #1952A1;
   background-image: -webkit-linear-gradient(top, #11999E, #11999E);
   background-image: -moz-linear-gradient(top, #11999E, #11999E);
   background-image: -ms-linear-gradient(top, #11999E, #11999E);
   background-image: -o-linear-gradient(top, #11999E, #11999E);
   background-image: -webkit-gradient(to bottom, #1952A1, #EAF6F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: auto;
   color: #FFFFFF;
   font-family: 'Merriweather', serif;
   font-size: 15px;
   font-weight: 100;
   padding: 13px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #000000 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-top: 2%;
}
.BUTTON_FHV:hover {
   border: solid #11999E 1px;
   background: #11999E;
   background-image: -webkit-linear-gradient(top, #1952A1, #EAF6F6);
   background-image: -moz-linear-gradient(top, #1952A1, #EAF6F6);
   background-image: -ms-linear-gradient(top, #1952A1, #EAF6F6);
   background-image: -o-linear-gradient(top, #1952A1, #EAF6F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.Rights-Reserved{
  font-size: 0.75rem;
  color: #EAF6F6;
  padding: 20px auto 0 auto;
  margin: 20px;
}
